<div class="col-md-3 col-lg-3 " align="center">
  <div id="user" class="panel panel-info">
    <div id="panel-heading" class="panel-heading">
      <h3 id="panel-title" class="panel-title"></h3>
    </div>
    <div id="panel-body" class="panel-body">
      <div class="row">
        <img id="profile_pic" alt="profile picture" class="img-circle img-responsive">
      </div>
      <br/>
      <div>
         <p>Affinity : <span id="affinity"></span>%</p>
         <p>Distance : <span id="dist"></span>km</p>
         <p>Common interests : <span id="common_tags"></span></p>
      </div>
    </div>
    <div id="panel-footer" class="panel-footer">
      <span class="pull-right">
        <a id="block" data-original-title="Block" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-remove"></i></a>
        <a id="report" data-original-title="Report" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
      </span>
    </div>
  </div>
</div>
