#readonly_tag .bootstrap-tagsinput .tag [data-role="remove"] { display: none; }
#readonly_tag .bootstrap-tagsinput input { display: none; }


#user {
  overflow: hidden;
}

#profile_pic {
  width: 100px;
  height: 150px;
}

.form-group {
  text-align: center;
}

body {
    padding-top: 90px;
}

#advanced_search {
  width: 100%;
}

.input-group {
    display: block;
}
