#readonly_tag .bootstrap-tagsinput .tag [data-role="remove"] { display: none; }
#readonly_tag .bootstrap-tagsinput input { display: none; }

.form-group {
  text-align: center;
}

body {
    padding-top: 90px;
}

#advanced_search {
  width: 100%;
}

.input-group {
    display: block;
}

.glyphicon.glyphicon-one-fine-dot {
    margin-bottom: -.8em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content:"\25cf";
    font-size: 3em;
}
